body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tiptitle {
  padding: 3px 3px 3px 8px;
  background-color: #E64848;
  color: white;
  border-radius: 4px;
  min-width: 175px;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.tipbody {
  font-size: 12px;
}
.tipbodyimg {
  float: left;
  border: 1px solid #cccccc;
  margin-right: 7px;
  height: 40px;
}
.tipbodytext {
  float: left;
  margin-top: 3px;
}
.tipbodytext ul {
  margin: 0;
}

.d3-tip {
  padding: 4px;
  background-color: #EEEEEE;
  border: 1px solid #dddddd;
  color: #333333;
  border-radius: 4px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #EEEEEE;
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.normal {
  stroke: #000000;
  stroke-width: 0.25px;
  fill: transparent;
}
.selected {
  stroke: #ff0000;
  stroke-width: 1.5px;
  fill: transparent;
}