
<div class="row marketing">
	<div class="col-md-7">
  	<div data-angular-treeview="true" data-tree-id="abc" data-tree-model="treedata" data-node-id="id" data-node-label="label" data-node-children="children"></div>
  </div>
  <div class="col-md-5">
  	<strong>Select an Available Advisor</strong><br/>
  	<div data-ng-repeat="advisor in advisors" style="margin-left:20px;">
  		<img data-ng-src="/images/{{advisor.imgsrc}}" class="listing" /> {{advisor.firstname + ' ' + advisor.lastname}}
  	</div>
  </div>
</div>



